Repository backendProjectGroup3/hangedManProject, pull requests merged in 2024-03, with the labels that each got.

#4 (#2) 게임화면에서 힌트 입력시 구현 가능하게 변경
  src/main/java/game/Maingame.java
Labels: enhancement

#11 (#10) feature/maingame 브랜치 코드 사본을 만들어서 게임 기록 기능과 결합
  .gitignore
  .idea/.gitignore
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  build.gradle
  src/main/java/com/hmproject/application/Application.java
  src/main/java/com/hmproject/game/Maingame.java
  src/main/java/com/hmproject/model/records/RecordDAO.java
  src/main/java/com/hmproject/model/records/RecordTO.java
  src/main/java/com/hmproject/model/records/RecordView.java
  src/main/java/com/hmproject/repository/RecordRepository.java
Labels: ⭐️feature⭐️

#13 hint and word
  .idea/.name
  .idea/encodings.xml
  src/main/java/word/hint/Application.java
  src/main/java/word/hint/hintalgo.java
  src/main/java/word/wordselect/Word.java
Labels: ⭐️feature⭐️, 📝word📝

#16 [# 번호] 난이도 작동 구현
  .idea/encodings.xml
  src/main/java/com/hmproject/application/Application.java
  src/main/java/com/hmproject/game/MainGame.java
  src/main/java/com/hmproject/game/Maingame.java
  src/main/java/com/hmproject/hint/Application.java
  src/main/java/com/hmproject/hint/hintalgo.java
  src/main/java/com/hmproject/model/records/RecordDAO.java
  src/main/java/com/hmproject/model/records/RecordTO.java
  src/main/java/com/hmproject/model/records/RecordView.java
  src/main/java/com/hmproject/wordselect/Word.java
  src/main/java/game/Maingame.java
Labels: enhancement, 🎮game🎮

#18 hangman design 기능 간략히 구현
  src/main/java/com/hmproject/game/MainGame.java
Labels: ⭐️feature⭐️, 🎨design🎨

#20 (#19) 첫 번째 기록 이후 출력 이상현상 수정
  src/main/java/com/hmproject/model/records/RecordView.java
Labels: 🏅record🏅

#29 전반적인 디자인 구현...
  .idea/.name
  src/main/java/com/hmproject/application/Application.java
  src/main/java/com/hmproject/design/Design.java
  src/main/java/com/hmproject/game/MainGame.java
  src/main/java/com/hmproject/model/records/RecordView.java
Labels: ⭐️feature⭐️, 🎨design🎨

#37 (#34, #36) 탈출 시 종료시간 미기록 버그 개선, 정답 유추 기능 추가
  build.gradle
  src/main/java/com/hmproject/application/Application.java
  src/main/java/com/hmproject/game/MainGame.java
  src/main/java/com/hmproject/model/records/RecordDAO.java
  src/main/java/com/hmproject/model/records/RecordView.java
Labels: bug, enhancement, ⭐️feature⭐️, 🎮game🎮, 🏅record🏅

#42 #40 정답 유추 시도 중 오답 입력 시 교수대 미출력 FIX
  src/main/java/com/hmproject/game/MainGame.java
Labels: bug, 🎨design🎨, 🎮game🎮

#43 (#41)game start 로고 반복 실행 구현
  src/main/java/com/hmproject/application/Application.java
  src/main/java/com/hmproject/design/Design.java
  src/main/java/com/hmproject/game/MainGame.java
Labels: 🎨design🎨
